<div class="hero-profile card z-depth-5">
  <div class="hero-pic card-image valign-wrapper">
    <img src="{{imageUrl}}" alt="photo of superhero" class="responsive-img valign-wrapper">
  </div>
  <div class="hero-info">
    <div class="hero-name"><h2>{{name}}</h2></div>
    <div class="hero-full-name"><h3>{{fullName}}</h3></div>
    <div class="divider"></div>
    <div class="powerstats">
      <h4>Powerstats:</h4>
      <ul>
        <li>Intelligence: {{intelligence}}</li>
        <li>Strength: {{strength}}</li>
        <li>Speed: {{speed}}</li>
        <li>Durability: {{durability}}</li>
        <li>Power: {{power}}</li>
        <li>Combat: {{combat}}</li>
      </ul>
    </div>
    <div class="divider"></div>
    <div class="work">
      <h4>{{base}}</h4>
      <h5>{{occupation}}</h5>
    </div>
    <div class="divider"></div>
    <div class="physical">
      <ul>
        <li>Gender: {{gender}}</li>
        <li>Race: {{race}}</li>
        <li>Height: {{height}}</li>
        <li>Weight: {{weight}}</li>
        <li>Eye color: {{eyeColor}}</li>
        <li>Hair color: {{hairColor}}</li>
      </ul>
    </div>

  </div>
</div>
