<div class="hero">
  <div class="hero-pic"><img src="{{image.url}}" alt="photo of superhero" width="60%" height="auto"></div>
  <div class="hero-info">
    <div class="hero-id">Id: {{id}}</div>
    <div class="hero-name">Name: {{name}}</div>
    <div class="powerstats">
      <ul>
        <li>Intelligence: {{powerstats.intelligence}}</li>
        <li>Strength: {{powerstats.strength}}</li>
        <li>Speed: {{powerstats.speed}}</li>
        <li>Durability: {{powerstats.durability}}</li>
        <li>Power: {{powerstats.power}}</li>
        <li>Combat: {{powerstats.combat}}</li>
      </ul>
    </div>
  </div>
</div>
