<div class="hero">
  <div class="hero-pic"><img src="{{imageUrl}}" alt="photo of superhero" width="60%" height="auto"></div>
  <div class="hero-info">
    <div class="hero-id">Id: {{id}}</div>
    <div class="hero-name">Name: {{name}}</div>
    <div class="powerstats">
      <ul>
        <li>Intelligence: {{intelligence}}</li>
        <li>Strength: {{strength}}</li>
        <li>Speed: {{speed}}</li>
        <li>Durability: {{durability}}</li>
        <li>Power: {{power}}</li>
        <li>Combat: {{combat}}</li>
      </ul>
    </div>
    <div class="background">
    </div>

  </div>
</div>
